<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564276045750-n5hjmr7gpt5bb5s8hcuh9v70gaffavnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564276045750-n5hjmr7gpt5bb5s8hcuh9v70gaffavnn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>564276045750-vplv0mq2dgfq898ikt9v9g1fm76cl12l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaojBRy7skE60YhiXuTh-Dk4b1oSNl1rY</string>
	<key>GCM_SENDER_ID</key>
	<string>564276045750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaIntegration</string>
	<key>PROJECT_ID</key>
	<string>sign-in-app-tsf</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-in-app-tsf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564276045750:ios:d626e34e900212b2ba4317</string>
</dict>
</plist>